@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Italic.eot);
  src: local("TT Lakes Italic"), local("TTLakes-Italic"), url(./fonts/TTLakes-Italic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Italic.woff) format("woff"), url(./fonts/TTLakes-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-ExtraLight.eot);
  src: local("TT Lakes Condensed ExtraLight"), local("TTLakesCondensed-ExtraLight"), url(./fonts/TTLakesCondensed-ExtraLight.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-ExtraLight.woff) format("woff"), url(./fonts/TTLakesCondensed-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Regular.eot);
  src: local("TT Lakes Compressed Regular"), local("TTLakesCompressed-Regular"), url(./fonts/TTLakesCompressed-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-Regular.woff) format("woff"), url(./fonts/TTLakesCompressed-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-ThinItalic.eot);
  src: local("TT Lakes Compressed Thin Italic"), local("TTLakesCompressed-ThinItalic"), url(./fonts/TTLakesCompressed-ThinItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-ThinItalic.woff) format("woff"), url(./fonts/TTLakesCompressed-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Medium.eot);
  src: local("TT Lakes Condensed Medium"), local("TTLakesCondensed-Medium"), url(./fonts/TTLakesCondensed-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Medium.woff) format("woff"), url(./fonts/TTLakesCondensed-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-ExtraBoldItalic.eot);
  src: local("TT Lakes Compressed ExtraBold Italic"), local("TTLakesCompressed-ExtraBoldItalic"), url(./fonts/TTLakesCompressed-ExtraBoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-ExtraBoldItalic.woff) format("woff"), url(./fonts/TTLakesCompressed-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-ExtraLightItalic.eot);
  src: local("TT Lakes ExtraLight Italic"), local("TTLakes-ExtraLightItalic"), url(./fonts/TTLakes-ExtraLightItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-ExtraLightItalic.woff) format("woff"), url(./fonts/TTLakes-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-LightItalic.eot);
  src: local("TT Lakes Light Italic"), local("TTLakes-LightItalic"), url(./fonts/TTLakes-LightItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-LightItalic.woff) format("woff"), url(./fonts/TTLakes-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Thin.eot);
  src: local("TT Lakes Thin"), local("TTLakes-Thin"), url(./fonts/TTLakes-Thin.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Thin.woff) format("woff"), url(./fonts/TTLakes-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-DemiBoldItalic.eot);
  src: local("TT Lakes DemiBold Italic"), local("TTLakes-DemiBoldItalic"), url(./fonts/TTLakes-DemiBoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-DemiBoldItalic.woff) format("woff"), url(./fonts/TTLakes-DemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Black.eot);
  src: local("TT Lakes Condensed Black"), local("TTLakesCondensed-Black"), url(./fonts/TTLakesCondensed-Black.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Black.woff) format("woff"), url(./fonts/TTLakesCondensed-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-LightItalic.eot);
  src: local("TT Lakes Condensed Light Italic"), local("TTLakesCondensed-LightItalic"), url(./fonts/TTLakesCondensed-LightItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-LightItalic.woff) format("woff"), url(./fonts/TTLakesCondensed-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-DemiBold.eot);
  src: local("TT Lakes Condensed DemiBold"), local("TTLakesCondensed-DemiBold"), url(./fonts/TTLakesCondensed-DemiBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-DemiBold.woff) format("woff"), url(./fonts/TTLakesCondensed-DemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-ExtraBold.eot);
  src: local("TT Lakes Compressed ExtraBold"), local("TTLakesCompressed-ExtraBold"), url(./fonts/TTLakesCompressed-ExtraBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-ExtraBold.woff) format("woff"), url(./fonts/TTLakesCompressed-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-ExtraBoldItalic.eot);
  src: local("TT Lakes ExtraBold Italic"), local("TTLakes-ExtraBoldItalic"), url(./fonts/TTLakes-ExtraBoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-ExtraBoldItalic.woff) format("woff"), url(./fonts/TTLakes-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-ExtraLight.eot);
  src: local("TT Lakes ExtraLight"), local("TTLakes-ExtraLight"), url(./fonts/TTLakes-ExtraLight.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-ExtraLight.woff) format("woff"), url(./fonts/TTLakes-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Bold.eot);
  src: local("TT Lakes Condensed Bold"), local("TTLakesCondensed-Bold"), url(./fonts/TTLakesCondensed-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Bold.woff) format("woff"), url(./fonts/TTLakesCondensed-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-ThinItalic.eot);
  src: local("TT Lakes Condensed Thin Italic"), local("TTLakesCondensed-ThinItalic"), url(./fonts/TTLakesCondensed-ThinItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-ThinItalic.woff) format("woff"), url(./fonts/TTLakesCondensed-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-ExtraBoldItalic.eot);
  src: local("TT Lakes Condensed ExtraBold Italic"), local("TTLakesCondensed-ExtraBoldItalic"), url(./fonts/TTLakesCondensed-ExtraBoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-ExtraBoldItalic.woff) format("woff"), url(./fonts/TTLakesCondensed-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Medium.eot);
  src: local("TT Lakes Compressed Medium"), local("TTLakesCompressed-Medium"), url(./fonts/TTLakesCompressed-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-Medium.woff) format("woff"), url(./fonts/TTLakesCompressed-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Thin.eot);
  src: local("TT Lakes Condensed Thin"), local("TTLakesCondensed-Thin"), url(./fonts/TTLakesCondensed-Thin.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Thin.woff) format("woff"), url(./fonts/TTLakesCondensed-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Italic.eot);
  src: local("TT Lakes Compressed Italic"), local("TTLakesCompressed-Italic"), url(./fonts/TTLakesCompressed-Italic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-Italic.woff) format("woff"), url(./fonts/TTLakesCompressed-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Light.eot);
  src: local("TT Lakes Compressed Light"), local("TTLakesCompressed-Light"), url(./fonts/TTLakesCompressed-Light.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-Light.woff) format("woff"), url(./fonts/TTLakesCompressed-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-LightItalic.eot);
  src: local("TT Lakes Compressed Light Italic"), local("TTLakesCompressed-LightItalic"), url(./fonts/TTLakesCompressed-LightItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-LightItalic.woff) format("woff"), url(./fonts/TTLakesCompressed-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Regular.eot);
  src: local("TT Lakes Condensed Regular"), local("TTLakesCondensed-Regular"), url(./fonts/TTLakesCondensed-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Regular.woff) format("woff"), url(./fonts/TTLakesCondensed-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Light.eot);
  src: local("TT Lakes Condensed Light"), local("TTLakesCondensed-Light"), url(./fonts/TTLakesCondensed-Light.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Light.woff) format("woff"), url(./fonts/TTLakesCondensed-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-DemiBold.eot);
  src: local("TT Lakes DemiBold"), local("TTLakes-DemiBold"), url(./fonts/TTLakes-DemiBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-DemiBold.woff) format("woff"), url(./fonts/TTLakes-DemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Thin.eot);
  src: local("TT Lakes Compressed Thin"), local("TTLakesCompressed-Thin"), url(./fonts/TTLakesCompressed-Thin.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-Thin.woff) format("woff"), url(./fonts/TTLakesCompressed-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Black.eot);
  src: local("TT Lakes Black"), local("TTLakes-Black"), url(./fonts/TTLakes-Black.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Black.woff) format("woff"), url(./fonts/TTLakes-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-MediumItalic.eot);
  src: local("TT Lakes Medium Italic"), local("TTLakes-MediumItalic"), url(./fonts/TTLakes-MediumItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-MediumItalic.woff) format("woff"), url(./fonts/TTLakes-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-ExtraBold.eot);
  src: local("TT Lakes Condensed ExtraBold"), local("TTLakesCondensed-ExtraBold"), url(./fonts/TTLakesCondensed-ExtraBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-ExtraBold.woff) format("woff"), url(./fonts/TTLakesCondensed-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-ExtraLightItalic.eot);
  src: local("TT Lakes Condensed ExtraLight Italic"), local("TTLakesCondensed-ExtraLightItalic"), url(./fonts/TTLakesCondensed-ExtraLightItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-ExtraLightItalic.woff) format("woff"), url(./fonts/TTLakesCondensed-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-DemiBoldItalic.eot);
  src: local("TT Lakes Condensed DemiBold Italic"), local("TTLakesCondensed-DemiBoldItalic"), url(./fonts/TTLakesCondensed-DemiBoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-DemiBoldItalic.woff) format("woff"), url(./fonts/TTLakesCondensed-DemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-BoldItalic.eot);
  src: local("TT Lakes Compressed Bold Italic"), local("TTLakesCompressed-BoldItalic"), url(./fonts/TTLakesCompressed-BoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-BoldItalic.woff) format("woff"), url(./fonts/TTLakesCompressed-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-ExtraLightItalic.eot);
  src: local("TT Lakes Compressed ExtraLight Italic"), local("TTLakesCompressed-ExtraLightItalic"), url(./fonts/TTLakesCompressed-ExtraLightItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-ExtraLightItalic.woff) format("woff"), url(./fonts/TTLakesCompressed-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-BoldItalic.eot);
  src: local("TT Lakes Bold Italic"), local("TTLakes-BoldItalic"), url(./fonts/TTLakes-BoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-BoldItalic.woff) format("woff"), url(./fonts/TTLakes-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-MediumItalic.eot);
  src: local("TT Lakes Condensed Medium Italic"), local("TTLakesCondensed-MediumItalic"), url(./fonts/TTLakesCondensed-MediumItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-MediumItalic.woff) format("woff"), url(./fonts/TTLakesCondensed-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-Italic.eot);
  src: local("TT Lakes Condensed Italic"), local("TTLakesCondensed-Italic"), url(./fonts/TTLakesCondensed-Italic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-Italic.woff) format("woff"), url(./fonts/TTLakesCondensed-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-ThinItalic.eot);
  src: local("TT Lakes Thin Italic"), local("TTLakes-ThinItalic"), url(./fonts/TTLakes-ThinItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-ThinItalic.woff) format("woff"), url(./fonts/TTLakes-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-DemiBold.eot);
  src: local("TT Lakes Compressed DemiBold"), local("TTLakesCompressed-DemiBold"), url(./fonts/TTLakesCompressed-DemiBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-DemiBold.woff) format("woff"), url(./fonts/TTLakesCompressed-DemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-BlackItalic.eot);
  src: local("TT Lakes Black Italic"), local("TTLakes-BlackItalic"), url(./fonts/TTLakes-BlackItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-BlackItalic.woff) format("woff"), url(./fonts/TTLakes-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Bold.eot);
  src: local("TT Lakes Compressed Bold"), local("TTLakesCompressed-Bold"), url(./fonts/TTLakesCompressed-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-Bold.woff) format("woff"), url(./fonts/TTLakesCompressed-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-BlackItalic.eot);
  src: local("TT Lakes Condensed Black Italic"), local("TTLakesCondensed-BlackItalic"), url(./fonts/TTLakesCondensed-BlackItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-BlackItalic.woff) format("woff"), url(./fonts/TTLakesCondensed-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-MediumItalic.eot);
  src: local("TT Lakes Compressed Medium Italic"), local("TTLakesCompressed-MediumItalic"), url(./fonts/TTLakesCompressed-MediumItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-MediumItalic.woff) format("woff"), url(./fonts/TTLakesCompressed-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Condensed';
  src: url(./fonts/TTLakesCondensed-BoldItalic.eot);
  src: local("TT Lakes Condensed Bold Italic"), local("TTLakesCondensed-BoldItalic"), url(./fonts/TTLakesCondensed-BoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCondensed-BoldItalic.woff) format("woff"), url(./fonts/TTLakesCondensed-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-ExtraLight.eot);
  src: local("TT Lakes Compressed ExtraLight"), local("TTLakesCompressed-ExtraLight"), url(./fonts/TTLakesCompressed-ExtraLight.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-ExtraLight.woff) format("woff"), url(./fonts/TTLakesCompressed-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-ExtraBold.eot);
  src: local("TT Lakes ExtraBold"), local("TTLakes-ExtraBold"), url(./fonts/TTLakes-ExtraBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-ExtraBold.woff) format("woff"), url(./fonts/TTLakes-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-DemiBoldItalic.eot);
  src: local("TT Lakes Compressed DemiBold Italic"), local("TTLakesCompressed-DemiBoldItalic"), url(./fonts/TTLakesCompressed-DemiBoldItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-DemiBoldItalic.woff) format("woff"), url(./fonts/TTLakesCompressed-DemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-BlackItalic.eot);
  src: local("TT Lakes Compressed Black Italic"), local("TTLakesCompressed-BlackItalic"), url(./fonts/TTLakesCompressed-BlackItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-BlackItalic.woff) format("woff"), url(./fonts/TTLakesCompressed-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Light.eot);
  src: local("TT Lakes Light"), local("TTLakes-Light"), url(./fonts/TTLakes-Light.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Light.woff) format("woff"), url(./fonts/TTLakes-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Compressed';
  src: url(./fonts/TTLakesCompressed-Black.eot);
  src: local("TT Lakes Compressed Black"), local("TTLakesCompressed-Black"), url(./fonts/TTLakesCompressed-Black.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakesCompressed-Black.woff) format("woff"), url(./fonts/TTLakesCompressed-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

html, body {
  margin: 0; }

html.no-scroll, body.no-scroll {
  height: 100%;
  overflow: hidden; }

.header {
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 16px;
  align-items: center; }
  @media (min-width: 1120px) {
    .header {
      display: none; } }

.header__box {
  display: flex;
  align-items: center; }

.header__logo {
  margin-left: 20px; }
  .header__logo:hover {
    opacity: 0.8; }
  @media (min-width: 768px) {
    .header__logo {
      margin: 0; } }

.header__contacts {
  display: flex;
  justify-content: space-between;
  width: 152px; }

.header__contacts_hiddenmobile {
  display: none; }
  @media (min-width: 768px) {
    .header__contacts_hiddenmobile {
      display: flex; } }

.header__requests {
  display: flex;
  width: 96px;
  justify-content: space-between; }

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media (min-width: 1120px) {
  .header__close-button {
    display: none; } }

.container {
  font-family: "TT Lakes";
  min-width: 320px;
  margin: 0 auto; }

.container_hidden {
  display: none; }

.button {
  border: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transition: all 0.25s ease; }
  .button:hover {
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer; }
  .button:active, .button:focus {
    outline: none; }

.button_type-menu {
  background: no-repeat url(./static/burger.png); }

.button_type-call {
  background: no-repeat url(./static/call.png); }

.button_type-write {
  background: no-repeat url(./static/chat.png); }

.button_type-aboutus {
  background: no-repeat url(./static/profile.png); }

.button_type-request {
  background: no-repeat url(./static/repair.png); }

.button_type-status {
  background: no-repeat url(./static/checkstatus.png); }

.button_type-close {
  background: no-repeat url(./static/close.png); }

.button_type-search {
  background: no-repeat url(./static/search.png); }

.divider {
  width: 0;
  height: 30px;
  border: 1px solid #EAEAEA;
  border-radius: 1px;
  background-color: #EAEAEA;
  margin: 20px; }

.divider_hiddenmobile {
  display: none; }
  @media (min-width: 768px) {
    .divider_hiddenmobile {
      display: block; } }

.logo {
  display: inline-block;
  width: 98px;
  height: 52px;
  background: no-repeat url(./static/Group.png); }

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #F8F8F8; }

.head {
  display: flex;
  justify-content: space-between; }

.head__service {
  display: none;
  margin: 21.44px; }
  @media (min-width: 1120px) {
    .head__service {
      display: flex; } }

.head__label {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: 600; }
  .head__label:hover {
    -webkit-filter: drop-shadow(0 0 10px grey);
            filter: drop-shadow(0 0 10px grey);
    cursor: pointer; }

.head__button {
  margin-left: 10px; }

.pagetitle {
  background-image: url(./static/highlight.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 16px; }
  @media (min-width: 768px) {
    .pagetitle {
      padding-left: 24px; } }

.info {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  padding: 16px; }
  @media (min-width: 768px) {
    .info {
      padding: 0 24px; } }
  @media (min-width: 1120px) {
    .info {
      flex-wrap: wrap; } }
  .info::-webkit-scrollbar {
    display: none; }

.info__link {
  text-decoration: none;
  font-family: "TT Lakes";
  height: 40px;
  color: #7E7E82;
  padding: 8px 16px;
  vertical-align: middle;
  box-sizing: border-box;
  white-space: nowrap;
  border: 2px solid transparent;
  transition: all 0.3s ease; }
  .info__link:hover {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px; }

.info__link_active {
  background: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px; }

.content {
  display: flex;
  color: #1B1C21;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  flex-direction: column;
  letter-spacing: 0.2px; }
  @media (min-width: 768px) {
    .content {
      flex-direction: row;
      justify-content: space-between; } }

.content__container {
  padding: 16px; }
  @media (min-width: 768px) {
    .content__container {
      padding: 0 10px 0 24px; } }

.content__text_visible-large {
  display: none; }
  @media (min-width: 1120px) {
    .content__text_visible-large {
      display: block; } }

.content__picture {
  width: 100%; }
  @media (min-width: 768px) {
    .content__picture {
      margin-top: 10px;
      width: 360px; } }
  @media (min-width: 1120px) {
    .content__picture {
      width: 531px; } }

.content__additional-text_hidden {
  display: none; }

.expandlink {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500;
  box-sizing: border-box;
  display: inline-block;
  background: no-repeat url(./static/expand.png) left center;
  padding-left: 32px;
  transition: all 0.25s ease; }
  .expandlink:hover {
    -webkit-filter: drop-shadow(0 0 10px grey);
            filter: drop-shadow(0 0 10px grey); }

.expandlink_upside-down {
  background: no-repeat url(./static/icon.png) left center; }

.sectionheader {
  text-transform: uppercase;
  padding: 16px;
  background: linear-gradient(90deg, #F2F2F2, #FFF); }

.gallerymain {
  background: #F2F2F2;
  padding: 16px; }

.gallerymain__slider {
  height: 112px; }
  @media (min-width: 768px) {
    .gallerymain__slider {
      height: 176px; } }

@media (min-width: 768px) {
  .gallerymain__slideswrapper {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px; } }

.gallerymain__costsslider {
  height: 240px; }
  @media (min-width: 768px) {
    .gallerymain__costsslider {
      height: 100%;
      overflow: auto; } }

.gallerymain__orderoption {
  height: 200px;
  flex-direction: column;
  align-items: flex-start; }

.gallerymain__galleryslide {
  height: 72px;
  align-items: center; }

.gallerymain__orderoptioninfo {
  font-size: 14px;
  line-height: 18px; }

.gallerymain__additional {
  font-size: 14px;
  padding-top: 24px;
  padding-bottom: 16px; }
  @media (min-width: 768px) {
    .gallerymain__additional {
      width: 421px; } }

.gallerymain__swiper {
  height: 200px; }
  @media (min-width: 768px) {
    .gallerymain__swiper {
      height: 170px; } }

.gallerymain__gadgetsslide {
  height: 160px; }

.gallerymain__button {
  position: absolute;
  bottom: 16px;
  right: 16px; }
  @media (min-width: 768px) {
    .gallerymain__button {
      position: static;
      width: 120px;
      margin: 0 15px; } }

.slide {
  display: flex;
  width: 240px;
  background-color: #FFF;
  justify-content: space-between;
  box-sizing: border-box;
  margin-right: 16px;
  padding: 16px;
  background-position: right 16px top 16px;
  display: flex;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .slide {
      margin-bottom: 16px; } }

.slide__title {
  position: absolute;
  top: 16px;
  left: 16px; }

.slide__link {
  position: absolute;
  right: 16px;
  bottom: 10px; }
  .slide__link:hover {
    transform: scale(1.2);
    opacity: 0.8; }

.additionalgallery {
  padding-top: 24px;
  align-items: center;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 500;
  box-sizing: border-box;
  padding-bottom: 16px; }

.additionalgallery__hidden-mobile {
  display: none; }
  @media (min-width: 768px) {
    .additionalgallery__hidden-mobile {
      display: flex; } }

.sidebarcontainer {
  font-family: "TT Lakes";
  width: 320px;
  min-width: 320px;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  display: none;
  flex-direction: column;
  background: #FFFFFF;
  margin: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 3;
  overflow: auto; }
  @media (min-width: 768px) {
    .sidebarcontainer {
      height: 100%; } }
  @media (min-width: 1120px) {
    .sidebarcontainer {
      display: flex;
      box-shadow: none;
      position: static;
      z-index: 0; } }

@media (min-width: 768px) {
  html, body {
    height: 100%; } }

.sidebarcontainer_visible {
  display: flex; }

.sidebarcontainer__header {
  padding: 19px 24px; }
  @media (min-width: 1120px) {
    .sidebarcontainer__header {
      display: flex; } }

.sidebarcontainer__logo {
  margin-left: 16px; }
  @media (min-width: 1120px) {
    .sidebarcontainer__logo {
      margin-left: 0; } }

.pages {
  padding-left: 0; }

.pages__kinds {
  list-style: none;
  padding: 16px 24px; }
  .pages__kinds:hover {
    background-image: url(./static/highlight.png);
    background-position: left;
    background-repeat: no-repeat; }

.pages__link {
  text-decoration: none;
  color: #1B1C21;
  font-weight: 500;
  transition: all 0.25s ease; }
  .pages__link:hover {
    color: #7E7E82; }

.footer {
  padding: 32px 24px; }

.footer__contacts {
  padding-bottom: 16px; }

.footer__button {
  margin-right: 16px; }

.footer__email {
  padding-bottom: 12px; }

.footer__emaillink {
  font-weight: 500;
  text-decoration: none;
  color: #1B1C21;
  transition: all 0.25s ease; }
  .footer__emaillink:hover {
    opacity: 0.7; }

.footer__phone {
  padding-bottom: 40px;
  font-size: 24px;
  font-weight: 800; }

.footer__phonelink {
  text-decoration: none;
  color: #1B1C21;
  transition: all 0.25s ease; }
  .footer__phonelink:hover {
    opacity: 0.7; }

.footer__link {
  font-weight: 500;
  margin-right: 7px;
  text-decoration: none;
  color: #000;
  transition: all 0.25s ease; }
  .footer__link:hover {
    color: #7E7E82; }

@media (min-width: 768px) {
  .tablemedium {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #FFF; } }

@media (min-width: 768px) {
  .tablemedium__row {
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: 64px;
    justify-content: flex-end;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 0;
    align-items: center;
    background-color: transparent; } }

@media (min-width: 768px) {
  .tablemedium__service {
    flex-grow: 1; } }

@media (min-width: 768px) {
  .tablemedium__cost {
    width: 85px;
    margin: 0 15px; } }

@media (min-width: 768px) {
  .tablemedium__period {
    width: 95px;
    margin: 0 15px; } }

.getoffer {
  display: flex;
  align-items: center; }

.getoffer__link {
  text-decoration: none;
  font-size: 16px;
  color: #1B1C21;
  font-weight: 500;
  transition: all 0.25s ease; }
  .getoffer__link:hover {
    -webkit-filter: drop-shadow(0 0 15px grey);
            filter: drop-shadow(0 0 15px grey); }

.getoffer__arrow {
  margin: 3px 5px; }

.galleryfooter {
  background: #F2F2F2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #D9FFF5;
  align-items: center; }
  @media (min-width: 768px) {
    .galleryfooter {
      flex-direction: row; } }

.galleryfooter__item {
  padding-bottom: 16px;
  text-align: center;
  color: #7E7E82;
  opacity: 0.72;
  font-size: 14px; }
  @media (min-width: 768px) {
    .galleryfooter__item {
      width: 33%;
      text-align: center; } }
  @media (min-width: 768px) {
    .galleryfooter__item:first-child {
      text-align: left; } }
  @media (min-width: 768px) {
    .galleryfooter__item:last-child {
      text-align: right; } }

.galleryfooter__link {
  text-decoration: none;
  color: #7E7E82;
  transition: all 0.25s ease; }
  .galleryfooter__link:hover {
    -webkit-filter: drop-shadow(0 0 10px grey);
            filter: drop-shadow(0 0 10px grey); }

.form-field {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 16px; }

.form-field__input {
  font-family: TT Lakes;
  height: 24px;
  flex-grow: 1;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 12px 12px; }

.form-field__input_kind-high {
  height: unset; }

.form-info {
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  padding: 8px 16px 0; }

.form-info__link {
  color: #FF3E79;
  text-decoration: none; }
  .form-info__link:hover {
    opacity: 0.7; }

.order-button {
  display: block;
  background-image: url(./static/dropdown.png);
  background-position: center right 15px;
  background-color: #FF3E79;
  color: white;
  background-repeat: no-repeat;
  text-decoration: none;
  border-radius: 25px;
  padding: 0 12px;
  width: 95px;
  height: 32px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  box-sizing: content-box;
  border: 0;
  text-align: left;
  transition: all 0.25s ease; }
  .order-button:hover {
    transform: scale(1.2);
    opacity: 0.8; }

.form-button {
  position: static;
  display: flex;
  justify-content: flex-end;
  padding: 19px 16px; }

.page-container {
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto; }
  @media (min-width: 1120px) {
    .page-container {
      display: flex; } }

.page-container_hidden {
  display: none; }

.request-call-modal_visible {
  visibility: visible !important;
  opacity: 1 !important; }

.request-call-modal {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  margin-right: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  background: #fff;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease; }

.request-call-modal__close-button_external {
  display: none;
  margin-top: 24px;
  margin-right: 24px; }
  @media (min-width: 1120px) {
    .request-call-modal__close-button_external {
      display: block; } }

.link-gallerymain {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s ease; }
  .link-gallerymain:hover {
    transform: scale(1.05);
    opacity: 0.8; }

.feedback-modal {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  margin-right: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  background: #fff;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease; }

.feedback-modal__close-button_external {
  display: none;
  margin-top: 24px;
  margin-right: 24px; }
  @media (min-width: 1120px) {
    .feedback-modal__close-button_external {
      display: block; } }

.feedback-modal_visible {
  visibility: visible !important;
  opacity: 1 !important; }

.modal-container {
  max-width: 440px;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  transition: all 0.5s ease;
  overflow-y: auto; }

.blur {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.97);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease; }

.blur_visible {
  visibility: visible;
  opacity: 1; }


/*# sourceMappingURL=style.css.map*/