@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Regular.eot');
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url('TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Regular.woff') format('woff'),
        url('TTLakesCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.container {
    font-family: "TT Lakes";
    min-width: 320px;
    margin: 0 auto;    
    flex-wrap: wrap;
}

.header {
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding: 16px;
    align-items: center;   
} 

.header__button_menu {
    margin-right: 20px;
}

.header__box {
    display: flex;
    align-items: center;
}

.divider {
    width: 0;
    height: 30px;
    border: 1px solid #EAEAEA;
    border-radius: 1px;
    background-color:#EAEAEA;
    margin: 20px;
}

.hidden-mobile {
    display: none;
    margin-left: 0;
}

h1 .head__title {
    margin: 24px 24px 12px auto;
    font-size: 28px;
    color: #1B1C21;
}

.header__contacts {
    display: none;
    justify-content: space-between;    
    width: 152px;    
}

.header__requests {
    display: flex;
    width: 96px;
    justify-content: space-between;
}

.head__service {
    display: none;
}

.head__service label {
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
}

.head {
    display: flex;
    justify-content: space-between;
    background-image: url("img/highlight.png");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 15px;
    margin-left: -15px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    background: #F8F8F8;
}

.info { 
    display: flex;   
    flex-wrap: nowrap;
    overflow-x: auto; 
    flex-direction: row;  
}

.info::-webkit-scrollbar {
    display: none;
  }

.info__long-buttons:hover {     
    background: #FFFFFF;
    border: 2px solid #B8FFEC;    
    border-radius: 6px;    
}

.info__long-buttons {
    box-sizing: border-box;
    margin-right: 16px;
    white-space: nowrap;
    padding: 8px 16px;
}

.link {
    text-decoration: none;
    font-family: "TT Lakes";
    height: 40px; 
    color: #7E7E82;
    padding: 8px 16px;
    vertical-align: middle;
}

.content {
    display: flex;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    flex-direction: column;
    letter-spacing: 0.2px;
    color: #1B1C21;
} 

.content__hidden {
    display: none;
}

.additional {
   display: flex;
   align-items: center;
   font-size: 16px;
   /*line-height: 24px;*/
   letter-spacing: -0.2px;
   color: #1B1C21;
   font-weight: 500;
   box-sizing: border-box;
   margin-bottom: 16px;
}

.button {    
    border: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;    
}

.button:hover {
    filter: drop-shadow(0 0 10px red);
}


.header__button_menu {
    background-image: url('img/burger.png');
    background-repeat: no-repeat;
}

.header__logo {
    background-image: url('img/group.png');
    background-repeat: no-repeat;
}

.header__button_call {
    background-image: url('img/call.png');
    background-repeat: no-repeat;
}

.header__button_write {
    background-image: url('img/chat.png');
    background-repeat: no-repeat;
}

.header__button_about-us {
    background-image: url('img/profile.png');
    background-repeat: no-repeat;
}

.header__button_request {
    background-image: url('img/repair.png');
    background-repeat: no-repeat;
}

.header__button_status {
    background-image: url('img/checkstatus.png');
    background-repeat: no-repeat;
}

.additional__link .link:hover {
    filter: drop-shadow(0 0 10px grey);
}

.picture {
    margin-left: -24px;
}



@media (min-width: 768px) {
    .header__contacts {
        display: flex;        
    }

    .content {
        flex-direction: row;
        justify-content: space-between;
    }
    .picture {
        padding: 10px 0;
        margin-left: 0;
        
    }

    .content__container {
        padding-right: 10px;
    }

    .picture img {
        width: 360px;
        
    }

    .hidden-mobile {
        display: block;
    }
}

@media (min-width: 1120px) {
   .header {
       display: none;
   }

   .head__service {
       display: flex;
       margin: 21.44px;
   }
   .header__button_request,
   .header__button_status  {
       background-color: transparent;
       margin-left: 10px;
   }

   .content__hidden {
    display: block;
   }

   .content__container {
    padding-right: 10px;
  }
  
  .picture img {
      width: 531px;
  }

  .info {        
    flex-wrap: wrap;
  }
}




