body {
    margin: 0;
}

.container {
    font-family: "TT Lakes";
    width: 320px;
    margin: 0 auto;    
    flex-wrap: wrap;
}

.header {
    display: flex;
    height: 88px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;   
} 

.header__empty {
    width: 1px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: px;
}

 h1 .main__title {
    margin: 24px 24px 12px auto;
}


.header__contacts {
    display: none;
    justify-content: space-between;
    margin-right: 20px;
    width: 152px;
    
}

.header__requests {

}

.service {
    display: none;
    }

.service label {
    height: 40px;
    line-height: 40px;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
}

.page-title {
    
    display: flex;
    justify-content: center;
    margin: 24px 16px;
}

.main {
    display: flex;
    /*margin-top: 88px;*/
    justify-content: center;
    flex-direction: column;
   padding: 15px;
    background: #F8F8F8;
}



.main__info { 
    display: flex;   
    flex-wrap: nowrap;
    overflow-x: auto; 
    flex-direction: row;  
}

.main__info::-webkit-scrollbar {
    display: none;
  }


input[type="button"] {
    font-family: "TT Lakes";
    height: 40px;
    width: 246px;    
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 16px;
}
   
.main__info::-webkit-scrollbar {
    display: none;
  }

  .reviews {
    display: none;
} 
  

.content {
display: flex;
color: #1B1C21;
font-family: TT Lakes;
font-size: 14px;
line-height: 18px;
flex-direction: column;
/* or 129% */

letter-spacing: 0.2px;

color: #1B1C21;
} 
.content__container {
  
}

.picture {
    
}

.content__about-us {
    display: none;
}
.read {
    display: flex;
    align-items: center;
}


.button {
    
    border: 0;
    width: 40px;
    height: 40px;
    background-color: white;
}

.button-menu {
    background-image: url('img/burger.png');
    background-repeat: no-repeat;
    }

.button-logo {
    background-image: url('img/group.png');
    background-repeat: no-repeat;
}

.button-call {
    background-image: url('img/call.png');
    background-repeat: no-repeat;
}

.button-write {
    background-image: url('img/chat.png');
    background-repeat: no-repeat;
}

.button-about-us {
    background-image: url('img/profile.png');
    background-repeat: no-repeat;
}

.button-request {
    background-image: url('img/repair.png');
    background-repeat: no-repeat;
}

.button-status {
    background-image: url('img/checkstatus.png');
    background-repeat: no-repeat;
}

.picture {
    margin-left: -15px;
}

.main__title_part1 {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .header__contacts {
        display: flex;        
    }
    .container {
        width: 768px;        
    }

    .content {
        flex-direction: row;
        justify-content: space-between;
    }
    .picture {
        padding: 10px 0;
        margin-left: 0;
        
    }

    .content__container {
        padding-right: 10px;
      }

    .picture img {
        width: 360px;
        
    }
}

@media (min-width: 1120px) {
   .header {
       display: none;
   }

   .container {
       width: 1120px;
   }

   .service {
       display: flex;
       margin: 21.44px;
   }
   .button-request,
   .button-status  {
       background-color: #F8F8F8;
       margin-left: 10px;
   }

   .content__about-us {
    display: block;
   }

   .content__container {
    padding-right: 10px;
  }
  
  .picture img {
      width: 531px;
  }

  .reviews {
      display: block;
      margin-top: 20px;      
  }

  .reviews a {
      text-decoration: none;
      color: #1B1C21;
  }
}




