.order-button {
    display: block;
    background-image: url('../img/dropdown.png');
    background-position: center right 15px;
    background-color: #FF3E79;
    color: white;
    background-repeat: no-repeat;
    text-decoration: none;
    border-radius: 25px;
    padding: 0 12px;
    width: 95px;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    box-sizing: content-box;
    border: 0;
    text-align: left;
    transition: all 0.25s ease;

    &:hover {
        transform: scale(1.2);
        opacity: 0.8;
    }
}