.content__picture {
    flex: 1;
    width: 100%;
    height: auto;

    @media (min-width: 768px) {
        margin-top: 10px;
        //width: 360px;
    }

    /*@media (min-width: 1120px) {
        width: 531px;
    }*/
}