.info {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    padding: 16px;

    @media (min-width: 768px) {
        padding: 0 24px;
    }

    @media (min-width: 1120px) {
        flex-wrap: wrap;
    }


    &::-webkit-scrollbar {
        display: none;
    }
}