.slide {
    display: flex;
    width: 240px;
    background-color: $tableCostsBackgroundColor;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 16px;
    padding: 16px;
    background-position: right 16px top 16px;
    display: flex;
    border-radius: 6px;

    @media (min-width: 768px) {
        margin-bottom: 16px;
    }
}

