.expandlink {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: $contentBaseColor;
    font-weight: 500;
    box-sizing: border-box;
    display: none;
    background: no-repeat url(../img/expand.png) left center;
    padding-left: 32px;
    transition: all 0.25s ease;

    @media (min-width: 1440px) {
        display: inline-block;
    }
    &:hover {
        filter: drop-shadow(0 0 10px $shadowColor);
    }
}


