.header {
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.header {
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.sidebar-header {
    padding: 19px 24px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button_menu {
    margin-right: 20px;
}

.header__box {
    display: flex;
    align-items: center;
}

.header__button_close {
    background-image: url('img/close.png');
    background-repeat: no-repeat;
    margin-right: 16px;
}

.header__button_search {
    background-image: url('img/search.png');
}

.header__contacts {
    display: none;
    justify-content: space-between;
    width: 152px;
}

.header__requests {
    display: flex;
    width: 96px;
    justify-content: space-between;
}