.info {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
}

.info::-webkit-scrollbar {
    display: none;
}

.info__long-buttons:hover {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.info__long-buttons {
    box-sizing: border-box;
    margin-right: 16px;
    white-space: nowrap;
    padding: 8px 16px;
    border: 2px solid transparent;
}