$mainBackgroundColor: #F8F8F8;
$transparentGray: #EAEAEA;
$contentBaseColor: #1B1C21;
$shadowColor: grey;
$swiperBackground: #F2F2F2;
$sideBarMenuHoverColor: #7E7E82;
$tableCostsBackgroundColor: #FFF;
$feedbackLinkColor: #FF3E79